// # SHORT HOWTO
// ## Sprites
//     .whatever
// 			+s(codedby) 
// ## gradient example
//     	+g(#232323, #5c5c5c);
//	   horizontal
//     	+gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +r(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /src/fonts
// +font(book, cytiapro-black-webfont)
// and create mixin
// =book
// 	font-family: "book", Arial, sans-serif

html
	font-size: 62.5% 
	&.is-open-popup
		body
			overflow: hidden
body
	+opensans
	+norm
	font-size: 1.6rem
	line-height: 1.66
	color: $text 
	min-width: 1280px 
button
	background: none 
a
	text-decoration: none 
	
// common blocks
.out
	padding: 6.1rem 3rem 0
	position: relative
	
	&_main
		overflow: hidden
		height: 100vh
		.layout
			height: calc(100vh - 95px)
			min-height: 600px
		.footer
			position: absolute
			bottom: 0
			left: 3rem
			right: 3rem
			background: none
			&:after
				content: ""
				position: absolute
				bottom: -5rem
				left: 0
				right: 0
				z-index: 1
				height: 5.1rem
				background: #fff  
		.share
			.footer__name
				opacity: 0
				visibility: hidden
		
.layout
	background: $bg 
	padding-bottom: 10rem
	&_shadow
		position: relative
		&:after
			position: absolute
			content: ""
			top: -10px
			left: 0
			right: 0
			height: 10px
			z-index: 1
			box-shadow: 0 10px 20px rgba(#000101,.1)
	&_second
		padding: 3rem 4rem
		background: #FFF  
.l-center
	max-width: 100rem
	margin: 0 auto 
	+clr
.l-main
	padding: 10rem 0 0
	position: relative
	margin: 0 5.5rem 
	+clr 
	+r(1600)
		max-width: 1430px  
	+r(1280)
		max-width: 1110px 
		margin: 0 auto 
	.float-right
		float: right
		max-width: 50%
		width: 35rem
		+r(1280)
			text-align: right
.section
	padding: 3.9rem 0 1rem 
	&_small
		padding: 4rem 0 1rem

.popup
	opacity: 0
	visibility: hidden
	position: fixed
	top: 0
	bottom: 0
	left: 0
	right: 0
	z-index: 20 
	min-width: 1280px 
	transition: opacity .3s
	&.is-active
		opacity: 1
		visibility: visible
	&_second
		.popup__layout
			border: none	
			background: rgba(#fff,.95) 
	&__layout
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		border: 3rem solid #fff		
		background: rgba($main, .95) 
	.logo
		position: absolute
		left: 3rem
		top: 1rem
	&__in
		+vertical
		position: absolute
		top: 5rem
		bottom: 5rem
		right: 0
		left: 0
		overflow-y: auto
	&__shell
		width: 715px 
		display: inline-block
		vertical-align: middle
		position: relative
		&.is-bigger
			width: 1000px
	&__scroll
		height: 100%
		font-size: 1.6rem
		overflow-y: auto
		overflow-x: hidden
		text-align: left
	&__text
		font-size: 1.8rem
		color: $title
		line-height: 1.6
		+italic
		width: 92%  
		text-align: left
	&__box
		background: #fff
		text-align: left
		padding: 3.2rem 4rem 4rem
	.title
		text-align: left
		margin-bottom: 4.7rem
		&.is-note
			margin-bottom: 4rem
		&.is-box
			margin-bottom: 2.7rem
	.field
		text-align: left
		textarea
			height: 9.2rem
	.text
		color: $title
		font-size: 1.6rem
	.marg
		margin-top:  2rem
	.btn-delete
		position: absolute
		display: block
		right: 0
		top: 1.9rem

.add-file
	display: inline-block
	margin-left: 2.5rem
	vertical-align: middle
	color: $main
	button
		color: $main 
		font-size: 1.4rem
		+semi
	i
		font-size: 1.5rem
		vertical-align: middle
		margin-right: 0.5rem
		font-size: 1.5rem
.btn-scrolltop
	display: none
	position: fixed
	bottom: 11rem
	left: 6rem
	font-size: 1.4rem
	color: #313131 
	&.is-visible
		display: block
	.icon
		display: block
		margin: 0 0 14px 
		font-size: 8px