.footer
	margin-bottom: 3.2rem
	position: relative
	height: 5.6rem
	background: $bg 
	&__in
		position: absolute
		left: 0
		right: 0
		top: .1rem
		z-index: 2
		+clr
	&__left
		float: left
		+clr
	&__right
		float: right
	&__name
		font-size: 1.3rem
		color: #A3A3A3
		top: 0
		margin-bottom: 1.4rem
	.tel
		margin: 0 5.6rem
.email
	position: relative
	display: inline-block
	font-size: 0
	margin-top: 0.3rem
	a
		font-size: 2.2rem 
		+agora
		color: $main 
		transition: color .3s
		&:hover
			color: $title 
	
.tel
	display: inline-block
	position: relative
	a
		font-size: 1.6rem
		display: inline-block
		+agora
		color: #A4A4A4 
		transition: color .3s
		&:hover
			color: $title 
			span
				color: $main 
	span
		font-size: 2.2rem
		color: $title 
		transition: color .3s 
.lang
	float: left
	color: $gray
	font-size: 1.3rem
	+norm
	margin: 4.2rem 5rem 0 0
	transition: color .3s
	&:hover
		color: $title
	span
		display: inline-block
		vertical-align: middle
	img
		display: inline-block
		vertical-align: middle
		margin-right: 0.5rem
.share
	float: left
	font-size: 0
	position: relative
	z-index: 6
	&.is-active
		.share__extend
			opacity: 1
			visibility: visible
			margin-left: 1rem
		.share__more
			a
				display: block
			span
				display: none
	&__item
		display: inline-block
		
		margin-left: 1rem
		&:first-child
			margin-left: 0
	&__more
		a
			display: none
	&__link
		display: block
		height: 3.6rem
		width: 3.6rem
		+circle
		background: #fff
		+vertical
		cursor: pointer
		+nosel
		&:hover
			.icon-tw
				color: $tw
			.icon-fb
				color: $fb
			.icon-vk
				color: $vk 
			.icon-in
				color: $linkedin
			.icon-odn
				color: $odnoklassniki
			.icon-ig
				color: $instagram
			.icon-gp
				color: $googleplus
			.icon-pint
				color: $pinterest 
			.icon-yt
				color: $youtube 
			.icon-tu
				color: $fb
			span
				color: $main 
		i
			vertical-align: middle
			color: $gray
			transition: color .3s
		.icon-tw
			font-size: 1.3rem
		.icon-vk
			font-size: 1.1rem 
		.icon-fb
			font-size: 1.6rem
		.icon-in
			font-size: 1.3rem
		.icon-odn
			font-size: 1.7rem
		.icon-ig
			font-size: 1.4rem
		.icon-gp
			font-size: 1.3rem
		.icon-pint
			font-size: 1.6rem
		.icon-yt
			font-size: 1.1rem
		.icon-tu
			font-size: 1.5rem
		span
			+extra
			color: $gray 
			display: inline-block
			vertical-align: middle
			font-size: 1.3rem
			line-height: 1
			margin-top: -0.5rem
	&__extend
		+tr(all .3s)
		opacity: 0
		margin-left: 0
		visibility: hidden
.btn-link
	float: left
	position: relative
	z-index: 6
	margin: 4.4rem 6rem 0 0
	color: $gray
	font-size: 1.3rem
	line-height: 1.4 
	+extra
	text-transform: uppercase
	border-bottom: 1px solid $gray
	transition: border .3s
	&:hover
		border-color: transparent
	&_second
		float: none
		margin: 1.8rem 0 0 0
		line-height: 1
		display: inline-block
		font-size: 1.4rem
		+semi
		color: $title  
		border-color: transparent
		text-transform: none 
		&:hover
			border-color: $title
	&_third
		text-transform: none
		float: none
		margin: 0
		color: $title
		border-color: $title
		position: relative
		font-size: 2rem
		&:before
			content: $icon-key
			position: absolute
			color: #FFF
			left: -3.7rem
			+icon
			font-size: 2.2rem 
			top: 50%
			margin-top: -1.1rem  
		

		