.row
	+clr
	margin: 0 -.6rem 
	> div
		padding: 0 .6rem 
		float: left
		position: relative
		min-height: 1px 
	&.with-marg
		margin-bottom: 6rem 
		.btn_second
			margin-bottom: 1.5rem
	&.with-pt
		padding-top: 5.5rem
@for $i from 1 through 100
	.col-#{$i}
		width: 1% * $i !important
.row_spaces
	margin: 0 -2rem
	> div
		padding: 0 2rem
.col
	&.float-right
		float: right
		text-align: left
	&.with-marg
		margin-bottom: 6rem 
		.btn_second
			margin-bottom: 1.5rem
// .col-wrap
// 	.col
// 		+r($sm)
// 			float: none
// 			width: 100%
// .col-wrap-xs
// 	.col
// 		+r($sm)
// 			width: 50%
// 		+r($xs)
// 			float: none
// 			width: 100%