.header
	position: fixed
	left: 0
	right: 0
	top: 0
	z-index: 19 
	padding: .9rem 3rem 1.6rem
	+clr
	background: #FFF
	min-width: 1280px 
	&__left
		float: left
	&__right
		float: right
		text-align: right
		font-size: 0
		padding-top: 1.1rem
	&__right-in
		display: inline-block
		.btn-action
			margin-left: 2.5rem
			vertical-align: middle
	.btn-search
		top: -1px
		vertical-align: top
		margin-left: 4rem 
	
.btn-action
	display: inline-block
	font-size: 0
	color: $title
	transition: color .3s
	&:hover
		color: $main 
	i
		color: $main
		font-size: 1.5rem  
		vertical-align: middle
		margin-right: 1.2rem
	span
		display: inline-block
		vertical-align: middle
		font-size: 1.3rem
		+semi
	&_second
		color: $main
		&:hover 
			color: $gray 
	.badge
		margin-right: 0.7rem
.badge
	padding: 0.4rem .7rem .4rem
	line-height: 1
	font-size: 1.3rem
	color: #FFF
	+g(#c1a6d9,#96e0e9) 
	font-style: normal
	border-radius: 1rem
	text-align: center
	display: inline-block
	vertical-align: middle 
	margin-left: 1rem
	transition: background-color .3s
	&:hover
		+g(#96e0e9,#c1a6d9)

.logo
	+extra
	letter-spacing: 7.5px
	display: inline-block
	font-size: 3rem
	line-height: 1.1
	color: $title
	position: relative
	z-index: 21
	span
		position: relative
		&:before
			position: absolute
			content: ""
			height: .55rem
			width: 0.7rem
			background: $main
			border-radius: 35%
			top: .8rem
			left: 0.2rem
.menu
	display: inline-block
	vertical-align: top
	margin-top: 1rem
	margin-left: 2.8rem
	padding-left: 2.1rem
	font-size: 0
	position: relative
	&:before
		content: ""
		background: #d6d6d6
		width: .3rem 
		height: 1.7rem
		position: absolute
		top: 0
		left: 0
	&__item
		display: inline-block
		padding: 0 .9rem 
		&.is-active
			.menu__link
				background: $title
				color: #FFF  
	&__link
		display: block
		padding: .5rem .8rem
		line-height: 1
		font-size: 1.3rem
		+extra
		text-transform: uppercase 
		transition: color .3s
		&:hover
			color: $main 
		color: $title  
		 
			 


		
