.banner
	position: relative 
	width: 100%
	padding: 6.5rem 0  
	min-height: 50rem
	position: relative
	margin-bottom: 3.5rem
	&_small
		min-height: 45rem
		margin-bottom: 6.5rem
	&_mb
		margin-bottom: 6.5rem
	&_second
		padding: 5rem 0
		background: $title 
		min-height: auto
		margin-bottom: 2rem
		&:before
			display: none
		.banner__in
			.title
				margin-bottom: 1rem
		.btn_third
			&:hover
				color: $title
	&:before
		content: ""
		position: absolute
		top: 0
		bottom: 0
		right: 0
		left: 0
		+g($g1,$g2) 
		opacity: 0.6
		z-index: 2
	&__img
		position: absolute
		top: 0
		bottom: 0
		left: 0
		background-attachment: fixed
		right: 0
		background-repeat: no-repeat 
		//background-size: cover 
		background-position: 50% 0
		z-index: 1
	&__in
		float: left
		position: relative
		z-index: 3
		width: 39.6rem
		&.is-big
			width: 52.5rem 
		&.is-small
			width: 33rem 
		&.is-centered
			width: 100%
			float: none
			text-align: center
		&.is-wide
			width: 100%
			+clr
		
		p
			color: #FFF
			margin-bottom: 4.5rem
			font-size: 1.8rem
			line-height: 1.66
			+norm
		.title
			margin-bottom: 4.5rem 
	&__right
		float: right
		position: relative
		z-index: 3
		padding-left: 9.2rem 
		border-left: 1.3rem solid rgba(#fff,.3)
	.info__text	
		color: #FFF 
	.tel
		margin: 2rem 0 0
		display: block
		transition: opacity .3s
		a
			color: #FFF 
			font-size: 1.6rem
			transition: color .3s
			&:hover
				color: $main
				span
					color: $main 
		span
			color: #FFF
			font-size: 2.2rem 
	.tip
		margin-top: 9rem 
	&__arrows
		position: absolute
		top: 3.3rem
		right: 5.8rem
		left: auto
		
.title
	font-size: 3rem
	color: $title
	+bold
	&_second
		text-transform: uppercase 
		color: #FFF  
	&_uc
		text-transform: uppercase 
	&_white
		color: #FFF 
		line-height: 1
	&_grid
		max-width: 21rem 
		margin-top: -1.7rem
		line-height: 1.1
	&_third
		color: $text 

	&.with-marg
		margin: 5.2rem 0 2.6rem 
	&.with-mb
		margin-bottom: 4rem
.btn-wrap
	font-size: 0
	.btn
		margin-left: 2rem
		&:first-child
			margin-left: 0rem 
	&.is-second
		padding: 0rem 0 2rem
		margin-bottom: 3rem
		border-bottom: 1px solid $border
.btn
	padding: 1.1rem 3.1rem 1.5rem
	display: inline-block
	text-align: center
	background: $main
	border: 4px solid $main
	color: #FFF
	line-height: 1
	+semi
	+opensans
	transition: background, color, .3s
	font-size: 1.8rem
	&:hover
		background: transparent
		color: $main 
	&_big
		padding-left: 7.3rem
		padding-right: 7.3rem
	&_second
		background: $title
		border-color: $title
		&:hover
			background: transparent
			color: $title
	&_wide
		display: block
		width: 100%
		padding-left: 1rem
		padding-right: 1rem
		text-align: center
	&_large
		padding: 1.7rem 4.3rem 2.1rem
		font-size: 2.5rem
		+r(1600)
			padding: 1.2rem 3.4rem 1.6rem 
			font-size: 2rem
		+r(1280)
			padding-top: 1.1rem
			padding-bottom: 1.5rem
			font-size: 1.8rem
	&_third
		border-color: $gray
		background: transparent
		color: $gray
		&:hover
			color: #fff
			background: $gray 
		&.is-black
			color: $title
			border-color: $title
			&:hover
				background: $title
				color: #fff
	&_fourth
		color: $title
	&_message
		background: $text
		color: #FFF
		border-color: $text
		&:hover
			background: transparent
			color: $text  
.info
	&.is-absolute
		position: absolute
		left: 0
		top: 29rem
		.info__number
			font-size: 8rem
	&__number
		+agora
		font-size: 14rem
		color: $main
		line-height: 1
	&__text
		max-width: 21rem
		color: $title
		font-size: 1.8rem
		line-height: 1.5
	&_second
		.info__number
			font-size: 8rem
		.info__text
			color: #FFF 
			font-size: 1.4rem
	&_third
		+clr
		margin-bottom: -1rem
		.info__number
			float: left
			font-size: 5rem
			margin-right: 1.5rem
		.info__text
			overflow: hidden
			max-width: 10.5rem 
			color: #FFF
			font-size: 1.4rem 
			
.crsl-partners
	&__top
		position: relative
		margin-bottom: 3.7rem
	&__in
		background: #FFF
		text-align: center
		border-right: 1px solid $bg
	&__img
		display: inline-block
		padding: 0 4rem 
		margin: 4.5rem 0 
		height: 11rem 
		filter: grayscale(100%)
		position: relative
		opacity: .8
		transition: opacity .3s
		text-align: center
		+vertical
		vertical-align: top
		img
			width: 100%
			max-width: 100%
			display: inline-block
			vertical-align: middle
			height: auto
		&:hover
			opacity: 1
			filter: grayscale(0) 
	.crsl-arrow
		position: absolute
		top: -8rem
		right: 0
	.arr-prev
		right: 5.6rem
	.slick-slide
		border-right: 1px solid $border


.crsl-btns
	position: relative
.crsl-arrow
	display: inline-block
	font-size: 2rem
	color: $text
	transition: color .3s
	&:hover
		color: $main 
	&.slick-disabled
		opacity: 0.5
		pointer-events: none
.text
	p
		margin-bottom: 3.5rem 	
		&:last-child
			margin-bottom: 0
.crsl-descr
	position: relative
	.crsl-arrow
		position: absolute
		bottom: -4rem
	.arr-next
		left: 5.6rem
	&__text
		color: $gray
		font-size: 1.4rem 
		+italic
		max-width: 28.5rem  
.crsl-photo
	margin-bottom: 2.5rem 
	&__img
		width: 100%
		overflow: hidden
		height: 57rem
		img
			width: 100%
			height: auto
.tabs
	margin-bottom: 4rem
	display: table
	width: 100%
	border-bottom: 1px solid #d6d6d6
	font-size: 0
	li
		display: table-cell
		&.is-active
			.tabs__cell
				color: $main 
				&:after
					background: $main
	.badge
		vertical-align: baseline 

	&__cell
		padding-bottom: 2rem
		display: inline-block 
		cursor: pointer
		position: relative
		+light
		font-size: 2.2rem 
		color: $title
		transition: color .3s
		&:hover
			color: $main 
			// &:after
			// 	background: $main 
		&:after
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: -.1rem
			height: .5rem
			background: transparent
			transition: background .3s
	&__after
		font-size: 1.6rem 
		color: $gray
		+norm  
		display: inline-block
		margin-left: 1rem
	&_second
		margin-bottom: 0
		border-bottom: none
		.tabs__cell
			font-size: 1.6rem
			+norm
	&_third
		display: block
		li
			display: inline-block
			margin-right: 5rem	
			&:last-child
				margin-right: 0
.any-q
	margin: .8rem 0 3.5rem
	.icon-info
		font-size: 5.3rem
		color: #c2c2c2
		vertical-align: middle
	&__title
		white-space: nowrap
		span
			display: inline-block
			vertical-align: middle
			margin-top: -3px
			margin-left: 1.5rem 
			line-height: 1.4
			width: 17rem
			font-size: 1.8rem
			color: $title
			white-space: normal
			+semi  
	&__text
		font-size: 1.4rem
		color: $text
		+norm
		line-height: 1.8 
		padding: 2.7rem 0 
	.btn
		display: block
		width: 100% 
.chrome,
.safari
	.promo
		&__in
			+g(#d8abe9,#9afefb)
.promo
	display: block
	padding: 5.8rem 2.8rem 5.5rem
	min-height: 40rem  
	width: 100%
	+cover
	font-size: 1.6rem
	line-height: 1.6
	position: relative
	color: #fff 
	+bold
	+tr(opacity .3s)
	background-repeat: no-repeat 
	&:hover
		opacity: 0.8
	&__in
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		color: #fff
		p
			font-size: 1.6rem
			color: #fff 
	&__title
		margin-bottom: 1.7rem
		font-size: 8rem
		+agora
		span
			font-size: 4rem 
	&__icon
		position: absolute
		bottom: 3rem
		left: 3rem 
	.i-bag
		display: block
		background-image: url(../img/bag.png) 
		width: 3.3rem
		height: 2.6rem 
	&_second
		.promo__title
			font-size: 4rem
			line-height: 1.1
.post-wrap
	overflow: hidden
.post
	margin: -1px 0
	width: 49.5%
	background: #fff
	min-height: 35.5rem
	padding: 4.2rem 3rem 2.5rem
	border: 1px solid #e6e6e6
	&:nth-child(2n)
		border-left: 0
	&:nth-child(2n+1)
		margin-left: -1px
		border-right: 0
	&__text
		color: $title
		font-size: 1.6rem 
		margin-top: 2.4rem
	&.is-inactive
		display: none
	&_second
		min-height: 16.5rem 
		position: relative
		padding: 2rem 2rem 7.5rem 
		line-height: 1.3
		.post__text
			font-size: 1.8rem
			margin-top: 0
	&_third
		position: relative
		padding: 2rem 2rem 2.5rem
		min-height: auto 
		line-height: 1.3
		display: block
		cursor: pointer
		.post__text
			font-size: 1.8rem
			margin-top: 0
			transition: color .3s
			
		.post__status
			position: static
			margin-top: 2.5rem
			i
				font-size: 2rem
			span
				color: $title 
		&:hover
			.post__text
				color: $gray
	&_fives
		min-height: 16.5rem 
		position: relative
		padding: 2rem 2rem 7.5rem 
		line-height: 1.3
		display: block
		.post__text
			font-size: 1.8rem
			margin-top: 0
			transition: color .3s
			&:hover
				color: $text 
			
		.post__status
			i
				font-size: 2rem
			span
				color: $title 
		
	&_fourth
		min-height: 13rem 
		position: relative
		padding: 2rem 2rem 5rem 
		line-height: 1.3
		.post__text
			font-size: 1.8rem
			margin-top: 0
		.post__status
			span
				margin: 0 2.5rem 
	&.is-marked
		position: relative
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0
		&:before
			right: 0
			height: 1.6rem
			width: 1.6rem
			+g(#c1a6d9,#96e0e9) 
		&:after
			right: 0
			+arr(1.6,1.6,#fff,bl) 
	&__status
		position: absolute
		bottom: 2.8rem 
		span
			font-size: 1.4rem
			color: $gray 
			display: inline-block
			vertical-align: middle
		i
			font-size: 1.4rem
			color: $gray 
			vertical-align: middle 
			margin-right: 1rem 
		a
			display: inline-block
			vertical-align: middle
			color: $main
			font-size: 1.4rem
			+norm 
			transition: color .3s
			&:hover
				color: $text 
	&__tip
		display: inline-block
		font-size: 1.4rem
		color: $title
		+norm 
		vertical-align: middle
		&.is-gray
			color: $gray 
		
		
	.i-doc
		background: url(../img/doc.png)
		height: 2.7rem
		width: 2.2rem
		background-size: 2.2rem 2.7rem 
.masonry-sizer
	width: 49.5%
.masonry-item
	width: 49.7% 

.meta
	+semi
	font-size: 1.8rem
	color: $gray
.loader-wrap
	text-align: center
	font-size: 0
	margin-top: 3rem
	
@keyframes rotation
	0%
		transform: rotate(0)
	100%
		transform: rotate(360deg)
.btn-loader
	display: inline-block
	+arr(2.5,2.1,$gray,b)
	position: relative
	transition: border .3s
	transform-origin: 45% 33%
	
	&:hover
		+arr(2.5,2.1,$main,b)
	&:before
		content: ""
		+arr(.8,.6,$bg,b)
		position: absolute
		bottom: 1rem 
		right: -0.4rem
		z-index: 2
	&.is-loading
		animation: rotation 1s linear infinite
.link
	display: inline-block
	cursor: pointer
	color: $main
	+agora
	font-size: 2.6rem
	i
		color: $gray
		font-size: 1.9rem
		vertical-align: middle
		margin-right: 1.4rem
	span
		border-bottom: 1px dotted $main
		line-height: 1
		transition: border .3s
	&_small
		font-size: 1.8rem
		span
			border-bottom: 1px solid $main
			display: inline-block
			vertical-align: middle
	&_sans
		+semi
	&:hover
		span
			border-color: transparent
.accordion
	box-shadow: 0 3px 10px rgba(#000101,.1)
	&__row
		border-bottom: 1px solid #e6e6e6
		&:hover
			.accordion__head
				color: $gray
	&__head
		display: block
		width: 100%
		background: #fff 
		padding: 1.9rem 4.7rem 2.2rem 3rem
		position: relative
		color: $title
		font-size: 1.8rem
		+semi
		text-decoration: none 
		transition: color .3s
		&[aria-expanded="true"]
			color: $text
			i
				transform: rotate(180deg)  

		i
			position: absolute
			right: 1.6rem
			top: 50%
			font-size: 7px
			margin-top: -.35rem 
			color: $title 
			transition: transform .3s
	&__content
		margin-top: -1px
		background: #fff
		padding: 0 3rem 3rem 
	&__bottom
		margin-top: 3.5rem
		+clr
	.price
		display: inline-block
		vertical-align: middle
		margin-right: 4.7rem
	.link
		display: inline-block
		vertical-align: middle
.price
	font-size: 1.9rem
	+agora
	span
		color: $main
.tabs-big
	margin-top: 4.5rem
	font-size: 0
	width: 100% 
	li
		display: inline-block
		vertical-align: top 
		width: 50%
		&.is-active
			.tabs-big__title
				background: #FFF
				color: $title
				&:after
					opacity: 1
					visibility: visible
			.tabs-big__content
				opacity: 1
				visibility: visible
				display: block
	a
		display: block
	&__title
		padding: 1.5rem 1rem 2rem
		position: relative
		background: transparent
		border: 5px solid #fff
		line-height: 1
		font-size: 3.8rem
		cursor: pointer
		+bold
		text-transform: lowercase 
		color: #FFF
		transition: background, color, .3s
		&:hover
			background: #FFF
			color: $title  
		+r(1300)
			font-size: 3rem
		&:after
			content: ""
			visibility: hidden
			opacity: 0 
			position: absolute
			transition: opacity .3s
			bottom: -1.9rem
			left: 50%
			margin-left: -1.4rem 
			+arr(2.8,1.5,#fff,b)
	&__content
		color: #FFF 
		font-size: 1.8rem
		text-align: left
		+norm
		margin-top: 5rem
		visibility: hidden
		opacity: 0
		display: none
.contact
	padding-left: 4.7rem 
	margin-bottom: 4.8rem
	position: relative
	line-height: 1
	&_address
		padding-left: 3rem
		.contact__name
			margin-bottom: 1.6rem
	&_address-new
		padding-left: 3.7rem
		.contact__name
			margin-bottom: 1.6rem

	&__name
		font-size: 1.6rem
		color: #FFF
		+norm
		margin-bottom: 2rem
	i
		color: #FFF
		position: absolute
		left: 0
		top: 0 
	.icon-mail
		font-size: 2.6rem
	.icon-phone
		font-size: 2.2rem 
	.icon-loc
		font-size: 2.6rem
		top: -6px
		left: -2px
	.icon-locdoc
		font-size: 2.8rem
		left: -3px
		top: -6px
	.tel
		margin-top: 0
	.link
		+semi
		+opensans
	&__email
		color: #FFF
		font-size: 2.2rem
		+agora
		display: block
		transition: color .3s
		&:hover
			color: $main
	&__text
		+agora
		font-size: 2.2rem
		color: #FFF 
		line-height: 1.4 
		margin-bottom: 1rem
	&_second
		.contact__name
			color: $gray
		i
			color: $gray 
		.contact__email
			color: $title
			&:hover	
				color: $main 
		.contact__text
			color: $title 
.field
	display: block
	margin-bottom: 3.8rem 
	position: relative
	&:last-child
		margin-bottom: 4rem
	+ button
		margin-top: 2.8rem
	
	&__name
		display: block
		color: $title
		font-size: 1.4rem
		text-transform: uppercase 
		line-height: 1
		margin-bottom: 1rem 
		+bold
		text-align: left
		i
			color: $nets
			vertical-align: bottom
			margin-right: 0.6rem
			margin-top: -0.2rem
		.icon-vk
			font-size: 1.1rem
		.icon-odn
			font-size: 1.7rem
		.icon-fd
			font-size: 1.6rem
		.icon-tw
			font-size: 1.3rem
		.icon-in
			font-size: 1.3rem
	input
		display: block
		width: 100%
		height: 5.2rem
		color: $title
		padding: 0 2rem
		background: #FFF  
		font-size: 1.4rem
		+norm
		+opensans
		&[required]
			+ .arr
				display: block
			+ span + .arr
				display: block
		&[type="file"]
			visibility: hidden
			height: 0
			width: 0
			padding: 0
		&.is-invalid
			background: #e2696b 
			+ .is-invalid
				+ .arr
					border-color: transparent #313131 transparent transparent
	textarea
		padding: 2rem
		font-size: 1.4rem
		background: #FFF
		height: 26rem
		resize: none
		width: 100%
		color: $title   
		+norm
		+opensans
		border: none
		&.is-invalid
			background: #e2696b 
	span
		&.is-invalid
			position: absolute
			left: 0
			top: 100%
			margin-top: 2px
			color: #c43033 
			line-height: 1
			font-size: 1.3rem
			
	.arr
		position: absolute
		top: 2.4rem
		right: 0

	.btn
		position: absolute
		right: 0
		top: 2.4rem
	.btn-icon
		position: absolute
		bottom: 1.6rem
		right: 1rem 
		font-size: 1.2rem
		&:hover
			color: $title 
	&.with-after
		position: relative
		&:after
			content: ""
			height: .1rem
			position: absolute
			top: 50%
			right: -2.2rem
			margin-top: 1rem 
			width: 1.4rem
			background: $title 
	.btn-search
		position: absolute
		right: 1.1rem
		top: 50%
		margin-top: -1rem
	&_search
		input
			padding: 0 11.5rem 0 4.3rem
			height: 9.2rem  
			background: transparent
			border: 2px solid $nets
			color: $title
			font-size: 3rem
			+bold
			+placeholder
				color: $nets
		.btn-search
			position: absolute
			right: 0
			top: 0
			margin: 0
	&_second
		margin-bottom: 0
		textarea
			background: $bg
			height: auto
			max-height: 5rem 
			padding: 1.5rem 2rem  
.text-block
	font-size: 1.4rem
	+norm
	color: $title
	text-align: left
	padding-left: 4.3rem 
	.link
		font-size: 2.2rem		
.field-two
	+clr
	.field
		float: left
		width: 45%
		&.is-right
			float: right
	&.is-unequal
		.field
			width: 25% 
			&.is-right
				width: 63%
.btn-search
	display: block
	height: 9.2rem
	width: 9.2rem
	background: $title
	+vertical
	i
		font-size: 3.2rem 
		vertical-align: middle
		color: #FFF 
	&_small
		display: inline-block
		position: relative
		height: auto
		width: auto
		background: transparent 
		&:hover
			i
				color: $main 
		i
			transition: color .3s
			font-size: 2.1rem 
			color: #414141
.hidden-block
	margin-top: 3rem
.tip
	.arr
		display: inline-block
		vertical-align: middle
	span
		display: inline-block
		vertical-align: middle
		color: #FFF
		font-size: 1.4rem  
		margin-left: 1.2rem
.arr
	display: none
	+arr(1.6,1.5,$main,tr)
.instruction
	font-size: 0
	margin-bottom: 6.5rem
	li
		padding-left: 3rem
		position: relative
		color: $title
		font-size: 1.6rem
		+norm
		margin-bottom: 1.7rem
		i
			position: absolute
			left: 0
			top: 0
			color: #FFF
			font-size: 1.6rem
			+bold  
			z-index: 2 
			font-style: normal
			&:before
				content: ""
				position: absolute
				top: 50%
				left: 50%
				margin: -1.6rem 0 0 -1.6rem 
				height: 3.2rem
				width: 3.2rem
				border-radius: 50%
				background: $text
				z-index: -1
				font-size: 0
.btn-download
	display: block
	position: relative
	margin-left: 5rem
	height: 22.5rem
	width: 18.3rem
	padding: 8.3rem 3rem
	line-height: 1
	background: #FFF 
	&:before,
	&:after
		content: ""
		top: 0
		position: absolute
	&:before
		right: 0
		+arr(2.4,2.5,$bg,tr)
	&:after
		+arr(2.4,2.5,#dddddd,bl)
		right: 0
	&:hover
		.btn-download__title
			color: $main
			span
				color: $gray 
	&__name
		color: $main
		font-size: 2.5rem
		+semi 
	&__title	
		font-size: 2.2rem
		+bold
		margin-top: 3.4rem
		padding-left: 5rem
		position: relative
		transition: color .3s
		color: $gray 
		&:before
			content: $icon-arr-b
			+icon
			position: absolute
			left: 0
			top: 0
			font-size: 4.2rem 
		span
			font-size: 1.4rem
			+norm
			color: $gray 
.cell-wrap
	position: relative
	width: 100%
	+clr
	&:before
		content: ""
		position: absolute
		bottom: 5px
		left: 1rem
		right: 1rem
		height: 1px
		box-shadow: 0 5px 15px rgba(0, 0, 0, 1) 
.cell
	position: relative
	z-index: 2
	float: left
	padding: 4rem 2rem 0
	position: relative
	border-left: 1px solid $border
	border-top: 1px solid $border
	width: 25%
	background: #FFF
	height: 25rem 
	text-align: center
	&:nth-child(4n+1)
		border-left: 0
	&:nth-child(1),
	&:nth-child(2),
	&:nth-child(3),
	&:nth-child(4),
		border-top: 0
	&:hover
		.cell__img
			filter: grayscale(0)
			opacity: 1
		.cell__name
			bottom: 6rem
		.cell__tip
			bottom: 3rem
			visibility: visible
			opacity: 1 
	&_count
		padding: 5rem 3rem 0 
		background: $main 
		text-align: left
		border-color: $main 
	&_static
		.cell__img
			filter: grayscale(0)
			opacity: 1
		&:hover
			.cell__name
				bottom: 3.5rem
	&__img
		display: inline-block
		height: 11.5rem
		max-width: 17.6rem 
		filter: grayscale(100%)
		opacity: 0.8
		transition: opacity .3s
		+vertical
		font-size: 0
		vertical-align: top
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			height: auto 
			max-height: 11.5rem 
	&__name
		position: absolute
		bottom: 3.5rem 
		left: 2rem
		right: 2rem
		font-size: 1.4rem
		+norm
		color: $text
		text-transform: lowercase 
		line-height: 1.1  
		transition: bottom .3s
	&__tip
		position: absolute
		bottom: 0
		left: 2rem
		right: 2rem
		font-size: 1.4rem
		+norm
		text-transform: lowercase 
		color: $main
		visibility: hidden
		opacity: 0
		transition: bottom, opacity, .3s
	&__number
		font-size: 9rem
		margin-bottom: 2rem
		color: #FFF
		+agora
		line-height: 1
	&__text	
		color: #FFF
		font-size: 1.8rem
		+semi  
		max-width: 11.5rem 
		line-height: 1.4 
.crsl-review
	width: 74.8rem
	display: inline-block
	vertical-align: middle 
	position: relative
	z-index: 21
	.title
		text-align: center
		margin-right: 8rem
		margin-bottom: 5.6rem
	.crsl-arrow
		position: absolute
		top: -9rem
		color: #fff
		right: 0
	.arr-prev
		right: 5.6rem
.review
	font-size: 0
	.cell
		width: 33.3%
	&__img
		width: 33.3%
		display: inline-block
		vertical-align: top
		height: 25rem
		overflow: hidden
		img
			width: 100%
			height: auto
	&__about	
		width: 33.3%
		padding: 4.7rem 3rem 2rem 
		display: inline-block
		vertical-align: top
		height: 25rem
		background: $title
		color: #FFF
		text-align: left
	&__name
		font-size: 1.8rem
		+bold
		margin-bottom: 2.1rem
	&__text
		font-size: 1.4rem
		+norm
		line-height: 1.8
	&__in
		margin-top: 4.6rem
		font-size: 1.8rem
		color: $title
		line-height: 1.6
		+italic
		width: 100%
		padding-left: 33.3%    
		text-align: left
.btn-close
	position: absolute
	z-index: 21
	top: 5rem
	right: 5rem 
	height: 2.2rem
	width: 2.2rem
	transition: top .3s
	&:hover
		i
			color: #FFF 
	&:active
		top: 5.5rem 
	i
		font-size: 2.4rem
		color: $title 
		transition: color .3s
.title-small
	font-size: 1.4rem
	display: inline-block
	text-transform: uppercase
	color: $title
	+bold  
.btn-file
	display: inline-block
	margin-left: 1.5rem
	label
		text-transform: uppercase
		color: $main
		font-size: 1.4rem  
		+bold
		cursor: pointer
		&:hover
			color: darken($main, 5%) 
	input
		position: absolute
		opacity: 0
		visibility: hidden
.photo
	cursor: pointer
	display: block
	width: 100%
	height: 321px
	background-position: 50% 50% 
	background-color: #fff 
	background-repeat: no-repeat 
	img
		width: 100%
		height: auto
@keyframes
	0% 
		background: lighten($main, 10%)
	100%
		background: #fff 
.data-wrap
	margin-bottom: 2.5rem 
	.btn
		margin: 2.5rem 0 10rem
	.row
		+ .btn
			margin-top: 0
.data-group
	border-top: 1px solid #979797
	padding-top: 3.8rem
	&:first-child
		border: none
		padding-top: 0
	
	+ .field
		margin-top: 4rem
	+ .btn
		margin-top: 0
.data-box
	border-top: 1px solid transparent 
	+ .data-group
		margin-top: 4rem
	&.is-active
		border-top: 1px solid #979797
		border-bottom: 1px solid #979797
		padding-top: 4rem
		margin-bottom: 4rem
		margin-top: 4rem
		&:first-child
			border-top: 0
			padding: 0
			margin-top: 0
			border-bottom: 1px solid #979797 
		.data
			display: none
		.data-hidden
			display: block
		+ .data-group
			margin-top: 0
			padding: 0
			border: 0
		+ .btn
			margin-top: 0
		+ .data-box
			&.is-active
				margin-top: 0
				padding-top: 0
				border-top: 0
		
.data
	position: relative
	padding: 1.9rem 8rem 2.5rem 2rem
	background: #FFF 
	
	&__btns
		position: absolute
		top: 2.5rem
		right: 2rem
		font-size: 0
	&__bottom
		font-size: 0
		margin-top: 1.1rem
	&__name
		font-size: 1.8rem
		color: $title
		+norm
	&__info
		color: $title
		font-size: 1.4rem  
		+norm
		display: inline-block
		margin-right: 3rem 
		&.is-mention
			color: $gray 
		div
			display: inline-block
.data-hidden
	display: none
.btn-icon
	display: inline-block
	vertical-align: middle
	padding: 0 .7rem 
	color: #c2c2c2
	font-size: 1.6rem  
	transition: color .3s
	background: none
	&:hover,
	&:active
		color: $main
	.icon-pen
		font-size: 1.7rem
	.icon-close
		font-size: 1.3rem
.dropdown
	position: relative
	select
		opacity: 0
		position: absolute
	&.is-active
		.dropdown__list
			display: block
		.dropdown__head
			&:before
				transform: rotate(-180deg)
	&__head
		position: relative
		display: block
		cursor: pointer
		width: 100%
		height: 5.2rem
		color: $title
		padding: 0 2rem
		background: #FFF  
		font-size: 1.4rem
		+norm
		line-height: 5.2rem
		white-space: nowrap
		overflow: hidden
		text-overflow: ellipsis
		&:before
			content: $icon-arr
			position: absolute
			+icon
			right: 1rem
			top: 50%
			margin-top: -.3rem
			font-size: 7px
			color: $title 
			+tr(transform .3s)
	&__list
		position: absolute
		display: none
		left: 0
		right: 0
		top: 100%
		z-index: 100
		border-top: 0 
		padding: 0 0 2rem
		margin: 0
		max-height: 20rem
		overflow-x: hidden
		overflow-y: auto
		background: #fff
		list-style-type: none
		box-shadow: 0 1px 1px $border
		li
			padding: 1rem 2rem
			color: $title
			+norm
			font-size: 1.4rem 
			cursor: pointer
			line-height: 1
			transition: background, color, .3s
			&:hover,
			&.is-active
				color: $gray         


.map
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	z-index: 3
	background: #313131
	opacity: 0
	visibility: hidden
	+tr(opacity .3s)
	&.is-active
		opacity: 1
		visibility: visible
	&__head
		position: absolute
		left: 0
		right: 0
		top: 0
		padding: 0 8rem 0 4rem 
		background: #313131
		color: white
		+agora
		height: 6.4rem
		line-height: 6.4rem
		font-size: 2.2rem
		z-index: 2
		img
			position: relative
			top: -4px
			margin-right: 1.5rem
			vertical-align: middle
	&__body
		height: 100%
	.btn-close
		right: 0
		top: 0
		width: 6.4rem
		height: 6.4rem
		color: #fff
		background: $main 
		i
			color: #fff 

form
	&.is-invalid
		.invalid-message
			display: block
.invalid-message
	display: none
	position: relative
	margin-top: 2rem
	padding-left: 5rem
	font-size: 1.4rem
	line-height: 1.6
	color: $invalid
	.icon
		position: absolute
		left: 0
		top: 7px
		font-size: 3.1rem










    








