.user
	+clr
	display: block
	margin-bottom: 3.9rem
	&:hover
		.user__name
			color: $gray
	&__img
		float: left
		height: 10rem
		width: 10rem
		overflow: hidden
		margin-right: 2rem 
		border-radius: 50%
		background: #FFF 
		img
			width: 100%
			height: auto
	&__right
		overflow: hidden
		padding-top: 0.9rem
		line-height: 1
	&__name
		display: block
		margin-bottom: 1rem
		font-size: 1.6rem
		+bold
		color: $title 
		transition: color .3s
	&__text
		font-size: 1.4rem
		+norm
		color: $title  
	&__tip
		display: inline-block
		color: $gray
		font-size: 1.4rem
		+norm
		margin-top: 1.7rem
		img
			vertical-align: middle
			margin-right: 0.5rem
	&_company
		.user__img
			padding: 0 1.7rem
			+vertical
			img
				display: inline-block
				vertical-align: middle
.img
	width: 100%
	max-height: 27rem
	overflow: hidden
	img
		width: 100%
		height: auto
.user-about
	font-size: 0
	margin-bottom: 2.6rem
	+bold
	border-bottom: 1px solid $gray
	padding-bottom: 2.3rem
	&__marked
		display: inline-block
		color: $gray
		font-size: 1.8rem
	&__info
		display: inline-block
		color: #FFF
		font-size: 1.8rem 
		margin-left: 0.5rem
	&__tip
		display: inline-block
		margin-left: 1.9rem
		color: $gray
		+norm
		font-size: 1.8rem
.data-table
	li
		+clr
		margin-bottom: 2.2rem
		&:last-child
			margin-bottom: 0
	&__left
		float: left
		min-width: 19rem 
		font-size: 1.6rem
		+norm
		font-size: 1.6rem
		color: $gray 
	&__info
		overflow: hidden
		font-size: 1.6rem
		+norm
		color: $title
		em
			font-style: normal
			color: $gray
	&_second
		.data-table__left
			min-width: 22.8rem 
.soc-panel
	padding-left:  5.7rem
	border-left: 1px solid $progress
	li
		margin-bottom: 3.7rem
	&__link
		padding-left: 4rem
		position: relative
		&:hover
			span
				color: $main
		span
			color: $title
			transition: color .3s 
		i
			position: absolute
			left: 0
			top: 50%
			font-size: 1.5rem
		.icon-vk
			font-size: 1.5rem
			color: $vk
			margin-top: -0.7rem
		.icon-fb
			font-size: 2.5rem
			color: $fb
			margin-top: -1.2rem 
		.icon-tw
			font-size: 2rem
			color: $tw
			margin-top: -1rem
		.icon-odn
			color: $odnoklassniki
			font-size: 2.6rem
			margin-top: -1.3rem 
		.icon-in
			color: $linkedin 
			font-size: 2rem
			margin-top: -1rem
.price-table
	column-count: 3
	font-size: 0
	margin-bottom: -3.7rem
	li
		display: inline-block
		margin-bottom: 3.7rem 
	&__name
		font-size: 1.6rem
		color: $gray
		+norm
	&__price
		+norm
		font-size: 4rem
		color: $title
		display: inline-block
		&:after
			content: $icon-rubl
			+icon
			color: $gray
			font-size: 2.9rem   
.btn-arrow
	display: block
	margin: 1.5rem 0 
	&:hover
		i
			color: $main 
	i
		color: #FFF 
		transition: color .3s
.breadcrumbs
	font-size: 0
	margin: 2rem 0
	&__name
		display: inline-block
		padding: 0 1.5rem
		position: relative
		color: $text
		+norm
		font-size: 1.4rem 
		transition: color .3s
		&:first-child
			padding-left: 0
		&:before
			content: $icon-back
			+icon
			font-size: 1.3rem
			color: $text
			position: absolute  
			top: 50%
			margin-top: -0.6rem
			left: -1.5rem 
			transition: color .3s
		&:hover
			color: $main
			&:before
				color: $main
.proccess-block
	margin-bottom: 3.7rem
	position: relative
	.title
		max-width: 75rem 
	.status
		position: absolute
		right: 0
		top: 0
.status
	i
		font-size: 1.2rem
		color: $text
	span
		display: inline-block
		color: $text
		font-size: 1.4rem
		+norm
		margin-left: 0.9rem 
.message
	+clr
	border-top: 1px solid $border
	padding: 3rem 0 0
	margin-top: 3rem
	&:last-child
		padding-bottom: 4rem
	&__photo
		width: 10rem
		height: 10rem
		overflow: hidden
		border-radius: 50%
		float: left
		margin-right: 2rem 
		img
			width: 100%
			height: auto
	&__right
		overflow: hidden
	&__top
		padding: 1.5rem 0 1rem
	&__name
		color: $title
		+bold
		font-size: 1.6rem
		display: inline-block
		line-height: 1
	.meta
		font-size: 1.4rem
		+norm
		color: $text
		line-height: 1
		display: inline-block
		padding: 0 1.5rem
		margin-left: 1.5rem
		border-left: 1px solid $border
	&_second
		padding-top: 4rem
		.message__photo
			float: right
			height: auto
			width: auto
			margin-right: 0
			margin-left: 2rem
	.doc
		margin-top: 2.5rem
	&__status
		font-size: 1.4rem
		color: $text
		font-size: 1.4rem 
	&__tip
		color: transparent
		font-size: 1.4rem
		transition: color .3s
		padding: 0 3rem 
		&:hover
			color: $title 
	&_doc
		margin: 0 -4rem
		display: block
		padding: 2.5rem 4rem
		position: relative
		color: $text 
		&:first-child
			border-top: none
		&:hover
			.message__text
				color: $text 
			.message__tip
				color: $main 
		.doc
			position: absolute
			display: block
			margin-top: 0
			top: 5.5rem
			left: 2rem
		.doc__type
			display: block
		.doc__size
			display: block
		.message__right
			padding: 2.5rem 0 
		.message__photo
			height: auto
			width: auto
			border-radius: 0
			position: relative
			i
				display: block
		.message__text
			transition: color .3s
			color: $title 
		.meta
			border-left: none
			border-right: 1px solid $border
			padding-left: 0
			margin-left: 0
			margin-right: 1.5rem
			&:before
				content: $icon-proccess
				font-size: 1.5rem
				color: $nets
				+icon
				margin-right: 0.8rem  
	.icon-doc-emp
		font-size: 12rem
		color: $nets  
			
		
.doc
	+clr
	&__icon
		float: left
		margin-right: 2rem
		i
			font-size: 5.2rem
			color: #b6b6b6
	&__right
		overflow: hidden
	&__name 
		font-size: 1.4rem
		+norm
	&__bottom
		font-size: 0
	&__type
		+bold
		font-size: 1.3rem
		text-transform: uppercase 
		display: inline-block
		margin-right: 1rem
		&.is-word
			color: #2b5797
		&.is-pdf
			color: #D04525 
		&.is-xls
			color: #1E7145 
	&__size
		font-size: 1.3rem
		color: $text
		+norm
		display: inline-block 
		margin-right: 1rem
	&__button
		color: $main
		transition: color .3s
		background: none
		display: inline-block
		font-size: 1.3rem
		+semi
		&:hover
			color: $gray
.i-answer
	height: 10rem
	width: 10rem
	border: 1rem solid $main
	background: transparent
	+vertical
	border-radius: 50%
	i
		font-size: 3rem
		color: $title
		vertical-align: middle  
		position: relative
		z-index: 1
.bill
	+clr
	padding: 2rem 2rem 2.2rem
	background: #fff
	border-bottom: 1px solid $border
	&:last-child
		box-shadow: 0 4px 6px rgba(0, 1, 1, 0.1)
		border: none
	&__left
		float: left
		width: 75%
		padding-right: 5rem
	&__title
		+opensans
		display: block
		+norm
		font-size: 1.8rem
		color: $title
		transition: color .3s
		&:hover
			color: $main
	&__right
		float: right
		width: 25%
		position: relative
		+clr
		.btn-icon
			position: absolute
			left: 4rem
			top: 50%
			margin-top: -.8rem
			&.is-first
				left: 0
		.btn
			float: right
	&__wrap
		font-size: 0
		margin: 1.5rem 0
	&__info
		display: inline-block
		margin-right: 3rem
		+opensans
		+norm
		font-size: 1.4rem
		&:last-child
			margin-right: 0
		span
			display: inline-block
			color: $gray
			margin-right: 1rem
		a
			display: inline-block
			color: $main
			transition: color .3s

			&:hover
				color: $title
	.status
		float: right
		+opensans
		+norm
		font-size: 1.4rem
		span
			display: inline-block
			margin-right: .5rem
		&.is-done	
			span
				color: #26c566
		&.is-undone
			span
				color: #ff6565
	.meta
		display: inline-block
		font-size: 1.4rem
		color: $title
		+opensans
		+norm
	.price
		span
			color: $main
			margin-right: 0
.btn-delete
	color: $title
	font-style: 0
	&:hover
		span
			border-color: $title
	i
		font-size: 1.3rem
		display: inline-block
		vertical-align: middle
		margin-right: 1.5rem
	span
		display: inline-block
		vertical-align: middle
		font-size: 1.4rem
		border-bottom: 1px dashed transparent
		transition: border .3s
		+opensans
		+norm				

.paybox
	margin-top: 2.2rem
	+clr
	&__in
		float: left
		width: 25%
		padding-right: 1px
		padding-bottom: 1px
	&__btn
		display: block
		width: 100%
		height: 11rem
		background: $bg
		+vertical
		transition: background .3s
		&:hover
			background: darken($bg, 5%)
		img
			max-height: 100%
			max-width: 100%
			display: inline-block
			vertical-align: middle



		  
		
		
		
		

		
		
		 