.crsl-success 
	position: relative
	margin-left: 7.5rem
	opacity: 0
	visibility: hidden
	z-index: 2
	&.is-ready
		opacity: 1
		visibility: visible
	
	&__number
		color: $title
		+agora
		line-height: 1
		font-size: 20rem
		+r(1600)
			font-size: 16rem
		+r(1280)
			font-size: 14rem
	&__text
		margin-top: 4rem
		font-size: 2.4rem 
		color: $title
		line-height: 1.5 
		max-width: 35rem
		+r(1600)
			max-width: 28.5rem 
		+r(1280)
			max-width: 25rem 
		+r(1600)
			font-size: 2rem
			line-height: 1.6
		+r(1280)
			font-size: 1.8rem
			line-height: 1.66
	.progress-bar
		position: absolute
		top: 19rem 
		left: 0
		z-index: 2
		width: 35rem
		+r(1600)
			top: 15.5rem
			width: 28.5rem 
		+r(1280)
			top: 14rem
			width: 25rem 
	.crsl-arrow
		font-size: 3.6rem
		position: absolute
		top: 2rem
		left: -6.5rem
		+r(1600)
			font-size: 2.4rem
	.arr-next
		top: 7.8rem
	.btn
		margin-top: 9rem 
		+r(1600)
			margin-top: 4rem
		
.progress-bar
	height: 1.3rem 
	background: $progress
	width: 100%
	position: relative 
	z-index: 2
	+r(1600)
		height: 0.8rem
	span
		position: absolute
		top: 0
		bottom: 0
		left: 0
		background: $main 
		+tr(width .3s)
.select-wrap
	min-width: 35rem
	+r(1600)
		min-width: 30rem
	+r(1280)
		min-width: 27rem
.select
	position: relative
	text-align: left
	z-index: 2
	cursor: pointer
	margin-bottom: -3px
	&:hover
		.select__name
			color: $text
	&.is-active
		z-index: 3
		.select__name
			color: $text
			&:before
				transform: rotate(180deg)
			&:after
				content: ""
				position: absolute
				left: 0
				right: 0
				bottom: -3px
				height: 3px
				background: #f6f6f6  
		.select__dropdown
			visibility: visible
			opacity: 1
	&__name
		display: block
		background: $bg 
		border: 3px solid $progress
		+bold
		font-size: 2.4rem
		color: $title
		padding: 1.7rem 0 1.7rem 5.2rem
		line-height: 1
		position: relative
		transition: color, border, .3s
		+r(1600)
			font-size: 2rem
			padding: 1.3rem 0 1.3rem 4.6rem
		+r(1280)
			font-size: 1.8rem 
		&:before	
			content: $icon-arr
			transition: transform .3s
			color: $title
			+icon
			position: absolute
			font-size: 7px
			top: 50%
			margin-top: -0.3rem
			left: 1.8rem  
	&__dropdown
		position: absolute
		z-index: 3
		width: 100%
		top: 100%
		opacity: 0
		visibility: hidden 
		padding: .7rem 0 2.5rem
		background: $bg
		border-right: 3px solid $progress
		border-left: 3px solid $progress
		border-bottom: 3px solid $progress
		transition: opacity .3s
		a
			position: relative
			display: block
			width: 100%
			color: $title 
			background: $bg 
			font-size: 2rem
			padding: .6rem 0 .6rem 5.2rem 
			transition: color .3s
			&:hover
				color: $main 
			+r(1600)
				font-size: 1.7rem
				padding: .6rem 0 .6rem 4.6rem
			+r(1280)
				font-size: 1.5rem 
			&:before
				content: ""
				position: absolute
				left: 2.3rem
				top: 50%
				margin-top: -0.3rem
				height: 0.6rem
				width: 0.6rem
				border-radius: 50%
				background: $main 
			&.with-icon
				&:before
					content: $icon-bag
					+icon
					margin-top: -0.6rem
					left: 1.8rem
					font-size: 1.3rem
					color: $main
					height: auto
					width: auto
					border-radius: none
					background: none    
	
.float-left
	float: left
	max-width: 50%

.promo-img
	position: absolute
	z-index: 1
	bottom: -8rem
	left: 50%
	width: 112.2rem
	margin-left: -58rem 
	+r(1600)
		bottom: -2rem
		width: 89rem
		margin-left: -46.5rem
	+r(1440)
		//top: 15.8rem
		width: 82.3rem
		margin-left: -51.5rem 
	+r(1280)
		//top: 10rem
		width: 70rem  
		margin-left: -44.7rem 
	img
		width: 100%
		height: auto
.text-main
	display: inline-block
	position: relative
	margin: -2rem 
	padding: 2rem 
	z-index: 2
	font-size: 2.1rem
	text-align: left
	line-height: 1.73
	color: $text
	margin-top: 5.5rem
	+norm  
	background: rgba(#f1f1f1, .85)
	+r(1600)
		font-size: 1.7rem
		//width: 27rem 
	+r(1280)
		font-size: 1.5rem 
		//width: 25rem
		 
		

		
