$main: #d0b66e
$g1: #8a2ba9
$g2: #0bd5cf
$text: #676666
$title: #313131
$bg: #f1f1f1
$gray: #a3a3a3
$tw: #58cef2
$vk: #507299
$fb: #3b5998
$linkedin: #2d779c
$odnoklassniki: #f5821f
$pinterest: #cb2026
$t: #35363a
$instagram: #ce004f
$youtube: #e62117
$googleplus: #db4437
$border: #e6e6e6
$nets: #b6b6b6
$progress: #d6d6d6
$invalid: #c43033
+font(PFAgoraSerifPro-Bold,PFAgoraSerifPro-Bold)


=opensans
	font-family: 'Open Sans', Arial, sans-serif
=bold
	font-weight: 700 
=extra
	font-weight: 800 
=semi
	font-weight: 600
=norm
	font-weight: 400 
=italic
	font-weight: 600
	font-style: italic 
=agora
	font-family: 'PFAgoraSerifPro-Bold', Arial, serif 
=light
	font-weight: 300 

=icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
=circle
	border-radius: 50%



	 
