@font-face
	font-family: "svgfont"
	src: url('fonts/svgfont.eot')
	src: url('fonts/svgfont.eot?#iefix') format('eot'), url('fonts/svgfont.woff') format('woff'), url('fonts/svgfont.woff2') format('woff2'), url('fonts/svgfont.ttf') format('truetype')
	font-weight: normal
	font-style: normal

$icon-lock: "\EA01"
$icon-key: "\EA02"
$icon-error: "\EA03"
$icon-tw: "\EA04"
$icon-vk: "\EA05"
$icon-fb: "\EA06"
$icon-arr-r: "\EA07"
$icon-arr-l: "\EA08"
$icon-info: "\EA09"
$icon-loader: "\EA0A"
$icon-arr: "\EA0B"
$icon-q: "\EA0C"
$icon-mail: "\EA0D"
$icon-phone: "\EA0E"
$icon-loc: "\EA0F"
$icon-locdoc: "\EA10"
$icon-arr-b: "\EA11"
$icon-odn: "\EA12"
$icon-in: "\EA13"
$icon-tag: "\EA14"
$icon-close: "\EA15"
$icon-pen: "\EA16"
$icon-ig: "\EA17"
$icon-gp: "\EA18"
$icon-pint: "\EA19"
$icon-yt: "\EA1A"
$icon-eye: "\EA1B"
$icon-arr-t: "\EA1C"
$icon-tu: "\EA1D"
$icon-bag: "\EA1E"
$icon-user: "\EA1F"
$icon-closed: "\EA20"
$icon-data-pen: "\EA21"
$icon-accepted: "\EA22"
$icon-letter: "\EA23"
$icon-proccess: "\EA24"
$icon-rubl: "\EA25"
$icon-ruble: "\EA26"
$icon-doc: "\EA27"
$icon-back: "\EA28"
$icon-pin: "\EA29"
$icon-admin: "\EA2A"
$icon-caret-t: "\EA2B"
$icon-doc-emp: "\EA2C"
$icon-search: "\EA2D"
$icon-list: "\EA2E"


%icon
	font-family: "svgfont"
	font-style: normal
	font-weight: normal
	text-rendering: auto
	speak: none
	line-height: 1
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale

.icon, [class^="icon-"], [class*=" icon-"]
	@extend %icon
	display: inline-block

.icon-lock:before
	content: $icon-lock
.icon-key:before
	content: $icon-key
.icon-error:before
	content: $icon-error
.icon-tw:before
	content: $icon-tw
.icon-vk:before
	content: $icon-vk
.icon-fb:before
	content: $icon-fb
.icon-arr-r:before
	content: $icon-arr-r
.icon-arr-l:before
	content: $icon-arr-l
.icon-info:before
	content: $icon-info
.icon-loader:before
	content: $icon-loader
.icon-arr:before
	content: $icon-arr
.icon-q:before
	content: $icon-q
.icon-mail:before
	content: $icon-mail
.icon-phone:before
	content: $icon-phone
.icon-loc:before
	content: $icon-loc
.icon-locdoc:before
	content: $icon-locdoc
.icon-arr-b:before
	content: $icon-arr-b
.icon-odn:before
	content: $icon-odn
.icon-in:before
	content: $icon-in
.icon-tag:before
	content: $icon-tag
.icon-close:before
	content: $icon-close
.icon-pen:before
	content: $icon-pen
.icon-ig:before
	content: $icon-ig
.icon-gp:before
	content: $icon-gp
.icon-pint:before
	content: $icon-pint
.icon-yt:before
	content: $icon-yt
.icon-eye:before
	content: $icon-eye
.icon-arr-t:before
	content: $icon-arr-t
.icon-tu:before
	content: $icon-tu
.icon-bag:before
	content: $icon-bag
.icon-user:before
	content: $icon-user
.icon-closed:before
	content: $icon-closed
.icon-data-pen:before
	content: $icon-data-pen
.icon-accepted:before
	content: $icon-accepted
.icon-letter:before
	content: $icon-letter
.icon-proccess:before
	content: $icon-proccess
.icon-rubl:before
	content: $icon-rubl
.icon-ruble:before
	content: $icon-ruble
.icon-doc:before
	content: $icon-doc
.icon-back:before
	content: $icon-back
.icon-pin:before
	content: $icon-pin
.icon-admin:before
	content: $icon-admin
.icon-caret-t:before
	content: $icon-caret-t
.icon-doc-emp:before
	content: $icon-doc-emp
.icon-search:before
	content: $icon-search
.icon-list:before
	content: $icon-list