<footer class="footer">
	<div class="footer__in">
		<div class="footer__left">
			<a href="#" class="lang">
				<img src="img/en.png" alt="eng">
				<span>swich to english</span>
			</a>
			<!-- <a href="#" class="lang">
				<img src="img/ru.png" alt="rus">
				<span>российская версия</span>
			</a> -->
			<a href="./for_lawyers.html" class="btn-link">
				юристам
			</a>
			<div class="share js-share">
				<div class="footer__name">
					oaxis в соц сетях
				</div>
				<ul class="share__list">
					<li class="share__item">
						<a href="#" class="share__link">
							<i class="icon-tw"></i>
						</a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link">
							<i class="icon-vk"></i>
						</a>
					</li>
					<li class="share__item">
						<a href="#" class="share__link">
							<i class="icon-fb"></i>
						</a>
					</li>
					<li class="share__item share__more js-share-more">
						<span class="share__link">
							<span>...</span>
						</span>
						<a href="#" class="share__link">
							<i class="icon-in"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-odn"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-ig"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-gp"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-pint"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-yt"></i>
						</a>
					</li>
					<li class="share__item share__extend">
						<a href="#" class="share__link">
							<i class="icon-tu"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer__right">
			<div class="email">
				<div class="footer__name">
					наш e-mail
				</div>
				<a href="mailto:oaxis@info.com">
					oaxis@info.com
				</a>

			</div>
			<div class="tel">
				<div class="footer__name">
					звонок по РФ бесплатный
				</div>
				<a href="tel:+74958900607">
					+7 495 
					<span>890 06 07</span>
				</a>
			</div>
		</div>
	</div>
</footer>
//=include popups.html
<script src="js/app.js"></script>