<header class="header">
	<div class="header__left">
		<a href="./main.html" class="logo">
			oax<span>i</span>s
		</a>
		<ul class="menu">
			<li class="menu__item">
				<a href="./services-individuals.html" class="menu__link">
					услуги
				</a>
			</li>
			<li class="menu__item is-active">
				<a href="./about.html" class="menu__link">
					о компании
				</a>
			</li>
			<li class="menu__item">
				<a href="./clients.html" class="menu__link">
					клиенты
				</a>
			</li>
			<li class="menu__item">
				<a href="./success.html" class="menu__link">
					успехи
				</a>
			</li>
			<li class="menu__item">
				<a href="./faq.html" class="menu__link">
					faq
				</a>
			</li>
			<li class="menu__item">
				<a href="./contacts.html" class="menu__link">
					контакты 
				</a>
			</li>
		</ul>
	</div>
	<div class="header__right">
		<div class="header__right-in">
			<a href="#" class="btn-action">
				<i class="icon-user"></i>
				<span>Высоцкая Антонина</span>
				
			</a>
			<a href="#" class="badge">
				4
			</a>
			<a href="#" class="btn-action btn-action_second">
				<span>выйти</span>
			</a>
			<button class="btn-search btn-search_small js-open-popup" data-popup=".js-popup-search" type="button">
				<i class="icon-search"></i>
			</button>
		</div>
	</div>
</header>