<div class="popup js-popup js-popup-enter">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">
			<div class="title">
				Вход
			</div>
			<div class="row">
				<div class="col col-47">
					<form action="#" class="js-validation">
						<label class="field">
							<span class="field__name">
								Ваш e-mail
							</span>
							<input type="email" name="email" required>
						</label>
						<label class="field is-pass">
							<span class="field__name">
								пароль
							</span>
							<input class="js-password" type="password" name="pass" required>
							<button type="button" class="btn-icon js-toggle-password">
								<i class="icon-eye"></i>
							</button>
						</label>
						<button type="submit" class="btn btn_second btn_wide">войти</button>
						<a href="#" class="btn-link btn-link_second">Забыли пароль?</a>
					</form>
				</div>
				<div class="col col-40 float-right">
					<div class="text-right marg">
						<div class="text">
							Если у вас еще нет аккаунта,
						</div>
						<a href="./registration.html" class="btn-link btn-link_third">
							Зарегистрируйтесь
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup_second js-popup js-popup-search">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">
			<div class="field field_search">
				<form action="#" class="js-validation">
					<input type="text" placeholder="Поиск" required>
					<button type="submit" class="btn-search">
						<i class="icon-search"></i>
					</button>
				</form>
			</div>
			<div class="text-block">
				<p>Не можете что-то найти? </p>
				<p> Просто <a href="#" class="link"><span class="js-open-popup" data-popup=".js-popup-chat">напишите нам </span></a> или позвоните по телефону <span class="tel"><a href="tel:+74958900607" >+7 495 <span>890 06 07</span></a></span></p>
			</div>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup-feedback">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">
			<div class="title">
				Напишите нам
			</div>
			<div class="row">
				<div class="col col-48">
					<form class="js-validation" action="#">
						<div class="field-wrap">
							<label class="field">
								<span class="field__name">
									ВашЕ ИМЯ
								</span>
								<input type="text" name="name" required>
							</label>
							<label class="field">
								<span class="field__name">
									ТЕЛЕФОН
								</span>
								<input type="tel" name="tel" required>
							</label>
							<label class="field">
								<span class="field__name">
									e-mail
								</span>
								<input type="email" name="e-mail" required>
							</label>
						</div>
						<button type="submit" class="btn btn_second btn_wide" required>
							отправить сообщение
						</button>
					</form>
				</div>
				<div class="col col-48 float-right">
					<label class="field">
						<span class="field__name">
							ваше обращение
						</span>
						<textarea required></textarea>
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup-chat">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">
			<div class="title">
				Андропов Виктор Владимирович
			</div>
			<div class="popup__scroll">
				<div class="layout layout_second">
					<form>
						<div class="to-message">
							<label class="field field_second">
								<span class="field__name">
									новое сообщение
								</span>
								<textarea></textarea>
							</label>
							<button type="submit" class="btn btn_message">отправить</button>
							<div class="add-file js-file" data-text="true">
								<button type="button" class="js-file-btn">
									<i class="icon-pin"></i> 
									<span class="js-file-name">Прикрепить документ</span>
								</button>
								<input type="file" hidden="" class="js-file-input">
							</div> 
						</div>
					</form>
					<div class="message">
						<div class="message__photo">
							<img src="img/photo-13.jpg" alt="photo">
						</div>
						<div class="message__right">
							<div class="message__top">
								<div class="message__name">
									Вы
								</div>
								<div class="meta">
									25.08.2016
								</div>
							</div>
							<div class="message__text">
								Это вопросы комплексной правовой защиты бизнеса от недружественного поглощения и захвата, жилищные, уголовные и арбитражные дела любой сложности, таможенные и налоговые споры 
								и суды с участием присяжных заседателей.
							</div>
						</div>
					</div>
					<div class="message message_second">
						<div class="message__photo">
							<div class="i-answer">
								<i class="icon-admin"></i>
							</div>
						</div>
						<div class="message__right">
							<div class="message__top">
								<div class="message__name">
									OAXIS
								</div>
								<div class="meta">
									19.08.2016
								</div>
							</div>
							<div class="message__text">
								Мы не ограничиваем свою деятельность Москвой и представляем интересы наших доверителей по всей России и в некоторых странах Европы. Консультации от ведущих адвокатов Европы Вы можете получить непосредственно у нас в офисе с помощью технологии Skype.
							</div>
							<div class="doc">
								<div class="doc__icon">
									<i class="icon-doc"></i>
								</div>
								<div class="doc__main">
									<div class="doc__name">
										Исковое заявление о взыскании задолженности по договору поставки
									</div>
									<div class="doc__bottom">
										<div class="doc__type is-word">
											doc
										</div>
										<div class="doc__size">
											27Мб
										</div>
										<a href="#" class="doc__button">
											Скачать документ
										</a>
									</div>
								</div>
							</div>
						</div>
						
					</div>
					<div class="message">
						<div class="message__photo">
							<img src="img/photo-13.jpg" alt="photo">
						</div>
						<div class="message__right">
							<div class="message__top">
								<div class="message__name">
									Вы
								</div>
								<div class="meta">
									25.08.2016
								</div>
							</div>
							<div class="message__text">
								Возвращаясь к адвокатам, с истории про которых я начал, сообщу, что они убеждали меня, что их иностранными клиентом был поставлен товар в Москву, при этом никаких накладных у данного поставщика нет и быть не может в силу сложившегося многостадийного хозяйственного оборота. То есть, для взыскания долга в судебном порядке мне были предоставлены лишь копии! заключенных посредством электронной почты международных контрактов и устные убеждения о получении российской стороной товара в городе Москве. 
							</div>
						</div>
					</div>
					<div class="message message_second">
						<div class="message__photo">
							<div class="i-answer">
								<i class="icon-admin"></i>
							</div>
						</div>
						<div class="message__right">
							<div class="message__top">
								<div class="message__name">
									OAXIS
								</div>
								<div class="meta">
									19.08.2016
								</div>
							</div>
							<div class="message__text">
								Таким образом, для взыскания задолженности в судебном порядке, истец должен доказывать не факт наличия взаимоотношений с ответчиком, представляя один лишь договор.
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup-reviews">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="crsl-review">
			<div class="title">
				Отзыв
			</div>
			<div class="js-crsl-review">
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
				<div>
					<div class="review">
						<div class="review__top">
							<div class="cell cell_static">
								<div class="cell__img">
									<img src="img/company-11.png" alt="client">
								</div>
								<div class="cell__name">
									nwc company
								</div>
							</div>
							<div class="review__img">
								<img src="img/photo-1.jpg" alt="photo">
							</div>
							<div class="review__about">
								<div class="review__name">
									Коржановский
									Виктор Федорович
								</div>
								<div class="review__text">
									Исполнительный директор
									строительной компании 
								</div>
							</div>
						</div>
						<div class="review__in">
							Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Спасибо вам большое, буду и дальше обращаться  в вашу компанию!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup-note">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">

			<div class="title is-note">
				Заметка
			</div>
			<div class="popup__text">
				Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях, цена оказания услуги не увеличилась. Большое количество выигранных дел. Оказывают услуги как бизнес-сообществу, так и физическим лицам. Умеренные и фиксированные на стадии договора цены. Даже если дело затягивается на долгий срок и адвокат участвует во всех судебных заседаниях.
			</div>
		</div>
	</div>
</div>
<div class="popup js-popup js-popup-editbill">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell">
			<div class="title">
				Редактирование счета
			</div>
			<button class="btn-delete" type="button">
				<i class="icon-close"></i>
				<span>Удалить счет</span>
			</button>
			<form>
				<div class="row">
					<div class="col col-48">
						<div class="field">
							<span class="field__name">
								выберите КЛИЕНТА
							</span>
							<select class="js-select" name="client">
							    <option value="Сергей Ивановский">Сергей Ивановский</option>   
							    <option value="Егор Герасимов">Егор Герасимов</option>  
							    <option value="Екатерина Беляева">Екатерина Беляева</option>   
							    <option value="Генадий Ебрагимов">Генадий Ебрагимов</option> 
							    <option value="Евгений Федоров">Евгений Федоров</option> 
							</select>
						</div>
					</div>
					<div class="col col-48 float-right">
						<label class="field">
							<span class="field__name">
								СУММА, РУБ.
							</span>
							<input name="amount" type="text">
							<span class="arr"></span>
						</label>
					</div>
				</div>
				<div class="field">
					<span class="field__name">
						выберите судебный процесс
					</span>
					<select class="js-select" name="trial-proccess">
					    <option value="Защита интересов руководителя и подчиненных кредитной организации">Защита интересов руководителя и подчиненных кредитной организации</option>   
					    <option value="Исковое заявление о взыскании задолженности за оказанные услуги">Исковое заявление о взыскании задолженности за оказанные услуги</option>  
					    <option value="Заявление о признании незаконным отказа налогового органа в возврате сумм уплаченных налогов и о возврате таковых">Заявление о признании незаконным отказа налогового органа в возврате сумм уплаченных налогов и о возврате таковых</option>   
					</select>
				</div>
				<label class="field">
					<span class="field__name">
						заметка
					</span>
					<textarea></textarea>
				</label>
				<div class="row">
					<div class="col col-50">
						<button type="submit" class="btn btn_second btn_wide">
							сохранить счет
						</button>
					</div>
					<div class="col col-50 float-right">
						<button type="button" class="btn btn_third is-black btn_wide js-close-popup">
							отменить изменения
						</button>
					</div>
				</div>
			</form>
		</div>

	</div>
</div>
<div class="popup js-popup js-popup-pay">
	<div class="popup__layout"></div>
	<a href="#" class="logo">
		oax<span>i</span>s
	</a>
	<button type="button" class="btn-close js-close-popup">
		<i class="icon-close"></i>
	</button>
	<div class="popup__in">
		<div class="popup__shell is-bigger">

			<div class="title is-box">
				Оплата услуг
			</div>
			<div class="popup__box">
				<div class="title-small">
					выберите способ оплаты
				</div>
				<ul class="paybox">
					<li class="paybox__in">
						<a href="#" class="paybox__btn">
							<img src="img/pay-1.png" alt="pay">
						</a>
					</li>
					<li class="paybox__in">
						<a href="#" class="paybox__btn">
							<img src="img/pay-2.png" alt="pay">
						</a>
					</li>
					<li class="paybox__in">
						<a href="#" class="paybox__btn">
							<img src="img/pay-3.png" alt="pay">
						</a>
					</li>
					<li class="paybox__in">
						<a href="#" class="paybox__btn">
							<img src="img/pay-4.png" alt="pay">
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<button class="btn-scrolltop js-scrolltop"><i class="icon icon-caret-t"></i>наверх</button>